@model IEnumerable<DeadTree.Models.DBClass.QuestionsModel>

@using System.Security.Claims;
@{
    ViewData["Title"] = "问题管理";
    var t = User.FindFirst(ClaimTypes.Sid);
    var userEmail = t == null ? "" : t.Value;
}

<div class="jumbotron" style="background-color:cornflowerblue">
    <h2 style="color:white">@ViewData["Title"]</h2>
    <p class="lead">
        <a class="btn btn-warning" asp-action="Create">Create New</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultName)
            </th>
            <th>
                操作
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.Professor.Email == userEmail))
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.QId">ID: @Html.DisplayFor(modelItem => item.QId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FaultName.Name)
                </td>
                <td>
                    <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.QId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
