@model IEnumerable<DeadTree.Models.DBClass.FaultMappingModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Component)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultFeatures)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaultName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Component.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultFeatures.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaultName.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FMId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FMId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FMId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
