@model DeadTree.Models.DBClass.ComponentModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComponentModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Specification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apparatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apparatus.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
